@font-face{
    font-family: Mont;
    src: url(./Mont.otf)
}

body{
    --primary: #81c8c4;
    --primary-light: #ACD5D4;

    --secondary: #e06498;
    --secondary-light: rgb(218, 117, 164);
    --secondary-dark: #AB326A;
    --dark-bg: rgb(235, 214, 222);

    height: 100vh;
    width: 100vw;
    margin: 0px;
}
#root{
    height: 100vh;
    width: 100vw;
}
.app{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

@media screen and (min-width: 0px) {
    #content{ grid-template-columns: repeat(2, 1fr); }

    #content-col-1{ display: grid; grid-column: 1; }
    #content-col-2{ display: grid; grid-column: 2;}
    #content-col-3{ display: none; }
    #content-col-4{ display: none; }
    .app::-webkit-scrollbar{ display: none; }
}
@media screen and (min-width: 760px){
    #content{ grid-template-columns: repeat(3, 1fr); }

    #content-col-1{ display: grid; grid-column: 1; }
    #content-col-2{ display: grid; grid-column: 2; }
    #content-col-3{ display: grid; grid-column: 3; }
    #content-col-4{ display: none; }
}
@media screen and (min-width: 1024px){
    #content{ grid-template-columns: repeat(4, 1fr); margin-left: 10%; margin-right: 10%; }
    .app{ background: linear-gradient(90deg, rgba(215,200,206,1) 0%, rgba(235,214,222,1) 10%, rgba(235,214,222,1) 90%, rgba(215,200,206,1) 100%) }
    #content-col-1{ display: grid; grid-column: 1; }
    #content-col-2{ display: grid; grid-column: 2; }
    #content-col-3{ display: grid; grid-column: 3; }
    #content-col-4{ display: grid; grid-column: 4;}

}


#content{
    /* position: absolute;
    top: 89px; */
    min-height: 100vh;
    height: fit-content;

    width: 100vw;
    overflow: visible;
    display: grid;
    grid-gap: 14px;
    padding: 12px;
    padding-top: 142px;
    padding-bottom: 4rem;
    background: var(--dark-bg);
}
.content-col{
    grid-gap: 14px;
    grid-auto-rows: min-content;
    /* background: #81c8c4 */
}
@keyframes loader-anim{
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1rem);
        opacity: .1;
        background: var(--secondary-dark)
    }
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
    position: fixed;
    bottom: -2rem;
    left: 0px;
}
.loader > div{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--primary);
    animation: loader-anim 0.3s infinite alternate;

    margin: 3rem 0.2rem;
}
.loader > div:nth-child(2){
    animation-delay: 0.1s;
}
.loader > div:nth-child(3){
    animation-delay: 0.2s;
}


#navbar{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    background: var(--primary);
    height: 90px;
    width: 100vw;
}
#logo{
    /* stroke: var(--secondary-dark); */
    /* stroke-width: 2px; */
    position: absolute;
    z-index: 2;
    stroke-linecap: square;
}
#logo-after{
    position: absolute;
    stroke: var(--secondary-dark); 
    stroke-width: 4px;
    filter: drop-shadow(0 0 2px var(--secondary-dark));
}
#giphy-logo{
    width: 100px;
}
#tab-nav{
    z-index: 4;
    display: flex;
    width: 100vw;
    height: 40px;
    position: fixed;
    /* justify-content: space-around; */
    top: 90px;
    transition: top .2s;
}
.tab{
    flex: 1;
    /* height: 100%;
    width: 33.1%; */

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background: var(--primary-light);
    font-family: 'Mont';
    color: #F2F2F2;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 3px -2px rgba(128, 128, 128, 0.5);
    position: relative;

    transition: background .18s;
}
.tab:hover{
    cursor: pointer;
    background: var(--secondary-light);
}
.tab-border{
    width: 2px;
    border-radius: 2px;
    position: absolute;
    height: 20px;
    z-index: 5;
    right: -1px;
    /* top: 15%; */
    background: #e0649879;
}
#searchbar{
    position: absolute;
    width: 100%;
    height: 20px;
    background: var(--secondary-dark);
}
#search-input:focus{
    outline: 0px;
}


@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.gif-prev{
    transition: transform .1s;
    transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
    border-radius: 5px;
    box-shadow: 0 4px 4px -2px gray;
    animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 none;
}
.gif-prev:hover{
    transform: scale(1.05);
    cursor: pointer;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gif-show{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 5%;
    width: 90%;
    /* height: 400px; */
    z-index: 13;
    /* background: rgb(255, 255, 255); */
    border-radius: 5px;
    cursor: auto;
    animation: fade-in 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.gif-info{
    box-sizing: border-box;
    background: rgb(215, 237, 237);
    z-index: 14;
    border: 3px solid var(--dark-bg);
    border-top: transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    font-family: 'Mont';
    color: rgb(21, 21, 21);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.gif-author{
    text-decoration: none;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
}
.gif-title{
    font-size: 20px;
    text-decoration: none;
    color: rgb(21, 21, 21);
}

.gif-show-bg{
    position: absolute;
    background: rgba(128, 128, 128, 0.516);
    height: 100%;
    width: 100%;
    z-index: 11;
    top: -50px;
    cursor: pointer;
}
.gif-large{
    box-sizing: border-box;
    border: 3px solid var(--dark-bg);
    border-bottom: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 14;
}
.favorite-button{
    z-index: 15;
    position: absolute;
    right: 16px;
    top: 16px;
    transition: fill .18s;
}
.favorite-button:hover{
    cursor: pointer;
    fill: var(--dark-bg);
}

@keyframes ping {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}